*{
    padding: 0;
    font-family: sans-serif;
}

.attendeesContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.persons{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    padding: 30px 0;
    border-radius: 5px;
    width: 40%;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.attendeesContainer li{
    
}
